.features-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    margin: 6rem 2rem;
}

.features-section div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.features-section h2 {
    font-family: "Playfair Display", serif;
}

.features-section img {
    width: 3rem;
}

.features-section p {
    text-align: left;
    line-height: 150%;
}